{% extends 'base.html' %}

{% block body %}
    Registration
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username" class="{% if form.username.errors %}error{% endif %}">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="email" class="{% if form.email.errors %}error{% endif %}">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password" class="{% if form.password.errors %}error{% endif %}">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="confirm_password" class="{% if form.confirm_password.errors %}error{% endif %}">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <button type="submit">Register</button>
    </form>

    {% if registration_form.errors.password %}
        {{ registration_form.errors.password|striptags }}
    {% endif %}

    {% if registration_form.errors.username %}
        {{ registration_form.errors.username|striptags }}
    {% endif %}

    {% block messages %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
